*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins'sans-serif;
}

/* FOR ALL ANCHOR TAGS UNDERLINES DECO WILL BE OFF , FOR ALL IMAGES CURSOR=POINTER*/
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor:pointer;
}
.flex-div{
    display: flex;
    align-items: center;
    
}
/* ////////////////////////NAVBAR ////////////////////////////////////////////*/

nav{
   
    position:sticky;
    justify-content: space-between;
    padding:2px 2%;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    background: white;
    z-index:8;
}
.menuicon{
    width:25px;
    margin-right: 25px;
}
.logo{
    width:130px;
}


.searchbox{
    width: 500px;
    background: #f3f2f2;
    height:42px;
    border-radius: 25px;
    border:1.5px solid #cccccc;
    border-right-width: 2px;
    
}
input{
    width:440px;
    height:40px;
    padding:0.5px 15px;
    font-size: 17px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: white;
    border:0.5px solid #cccccc;
    border-right-width:2px ;
    border-bottom-width: 1px;
    outline:0;
   
}
#searchicon{
    padding:0 15px;
    width:18px;
    color:#706f6f;
}

.micicon{
    justify-content: center;
    width:43px;
    height:43px;
    font-size: 18px;
    margin-left:20px;
    background: #f3f2f2;
    border-radius: 50%;
    
}


.nav-right img{
    width:25px;
    margin-right: 25px;
}
.usericon{
    width:35px;
    border-radius: 50%;
    margin-right: 0;
}
/* .nav-right img:last-child{
    width:35px;
    border-radius: 50%;
    margin-right: 0;
} */

/* //////////////////////////////////////sidebars/////////////////////////////////////////// */
.sidebar{
    width:15%;
    background: white;
    height:100vh;
    position:fixed;
    top:0;
    padding-left: 0.7%;
    padding-top:80px;
}

.shorticon{
    width:20px;
    margin:0 20px;
    font-size: 19px;
}
.nonvisible{
    visibility: hidden;
    height:0;
}
.you{
    margin:0 20px;
}
.shortcutlink a{
    display:flex;
    align-items:center;
    margin-bottom: 8px;
    width:fit-content;
    flex-wrap:wrap;
}
.spaceicon{
    margin-left: 17px;
    
}
.subscribed{
    margin:0 20px;
    color:#5a5a5a
}
.subscribed a{
    display:flex;
    align-items: center;
    width:fit-content;
    margin-bottom:8px;
    flex-wrap:wrap;
}
.subscribed a img{
    width:25px;
    border-radius: 50%;
    margin-right:20px;
}
.smallsidebar{
    width:5%;
    justify-content: center;
    /* display: flex; */
}
.smallsidebar a{
    justify-content: center;
}
.smallsidebar .zero{
    display:none;
}
.smallsidebar .nonvisible{
    visibility: visible;
    align-items: center;
    justify-content: center;
   
}
.vanish{
    visibility: hidden;
}



/* /////////////////////////////main content//////////////////////////////// */

.container{
    position:unset;
    background: #f9f9f9;
    padding-left:17%;
    padding-right:2%;
    padding-top:20px;
    padding-bottom:20px;
}


.largecontainer{
    padding-left:7%;
}
.banner{
    width:100%;
}
.banner img{
    width:100%;
    border-radius: 8px;
}

.listcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-column-gap:16px;
    grid-row-gap:30px;
    margin-top:15px;
}
.vidlist .thumbnail{
    width:100%;
    border-radius: 5px;
}
.vidlist .flex-div{
    align-items: flex-start;
    margin-top:7px;
}
.vidlist .flex-div img{
    width:35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vidinfo{
    color:#5a5a5a;
    font-size:13px;
    
}
.vidinfo a{
    color:black;
    font-weight: 600;
    display:block;
    margin-bottom: 5px;
}

/* //////////////////////profileops//////////////////////////// */
.profmenu{
    position:absolute;
    width:90%;
    max-width:350px;
    background:white;
    box-shadow: 0 0 10px rgba(53, 53, 53, 0.4);
    border-radius: 10px;
    overflow: hidden;
    top:20px;
    right:5%;

    max-height:0;
    transition: max-height 0.3s;

}
.profspaceicon{
    text-align: right;
    margin-right:0;
}
.profmenuheight{
    max-height:650px;
}
.aboutinfo{
    justify-content:center;
    font-size: 17px;;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.about img{
   margin-left:20px;

}
.viewchannel p{
    color:rgb(27, 74, 202);
    margin-left: 75px;
    padding-bottom:20px;
    font-size:17px ;
}







@media(max-width:900px){
    .nav-left{
        margin-left: 0;
    }
    .nav-left img{
        width:80px;
        
    }
    .nav-mid{
        display:none;
    }
    .nav-right img{
        width:20px;
        margin-right:10px;
    }
    .nav-right img:last-child {
        display:none;
    }
    .sidebar{
        display:none;
    }
    .menuicon{
       visibility: hidden;
    }
    .container, .largecontainer{
        padding-left:5%;
        padding-right:5%;
    }
}







